*.elc
auto-save-list
ac-comphist.dat
.org-id-locations
tmp
snippets
contrib
compile-el-files.tmp
elpa
/url/cookies
/saved-desktops/.emacs.desktop
/image-dired/*
bookmarks
recentf
html-clip-w32.py
org-wunderlist.credencials.el
tramp
html-clip-w32.py
config.el
OUTDATED
tutorial
.gitignore
var
etc
/.stfolder
/.stignore
/.stignore_common
bin
/config_Windows_working_ID_links.el
