*.elc
auto-save-list
contrib
compile-el-files.tmp
elpa
/url/cookies
/image-dired/*
html-clip-w32.py
config.el
OUTDATED
.gitignore
var
etc
bin
server
.places
faststart_*
recache_*.sh
transient/
test.*
tmp.*
2del.*
private.el
quelpa
.stfolder
.stignore*
abbrev_defs
